@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Henny+Penny&family=Monofett&family=Monoton&family=Oswald:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  background-color: #d3c9a2; }

body {
  background-color: #d3c9a2;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 1rem;
  font-family: "Oswald", sans-serif;
  animation: intro 1s ease-in-out; }

@keyframes scale {
  0% {
    transform: scale(1);
    color: #292828;
    box-shadow: 0.5rem 0.5rem 0px #292828; }
  50% {
    transform: scale(1.05);
    color: #ffffff;
    box-shadow: 0.5rem 0.5rem 0px #ffffff; }
  100% {
    transform: scale(1);
    color: #292828;
    box-shadow: 0.5rem 0.5rem 0px #292828; } }

@keyframes logo {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(360deg); } }

@keyframes carrito {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }

@keyframes bg-btn {
  0% {
    background-color: #292828; }
  50% {
    background-color: #f7b94c; }
  100% {
    background-color: #292828; } }

@keyframes intro {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.header {
  font-family: "Oswald", sans-serif;
  padding: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-image: url("../img/fondo-logo2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 0.2rem solid #dd8329; }
  .header__logo {
    width: calc(7.5rem + 2vw);
    border-radius: 10px;
    margin: 1rem;
    border: solid #f7b94c;
    animation: logo 3s infinite; }
  .header__h1 {
    color: #ffffff;
    border: 0.2rem solid #ffffff;
    border-radius: 15px;
    padding: 1.5rem 2.5rem;
    font-size: calc(3rem + 2vw);
    font-weight: bold;
    display: none; }
    .header__h1 a {
      color: #ffffff;
      text-decoration: none; }
    @media screen and (min-width: 580px) {
      .header__h1 {
        display: block; } }

.nav {
  background-color: #292828;
  font-family: "Oswald", sans-serif; }
  .nav__h2 {
    color: #ffffff;
    font-size: 3rem;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    margin: 0 1rem;
    border: 0.1rem solid #ffffff;
    border-radius: 15px; }
    @media screen and (min-width: 580px) {
      .nav__h2 {
        display: none; } }
  .nav__a:hover {
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: #b47434; }

.navbar-toggler-icon {
  color: var(--color6); }

footer section {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #292828;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 5px 7px #7f837f; }

.footer {
  grid-area: footer;
  width: 100%;
  border-top: 0.2rem solid #ffffff; }
  .footer__form {
    width: 100%;
    padding-bottom: 1.5rem;
    border-bottom: #ffffff solid 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer__subscription {
    display: none; }
    @media screen and (min-width: 768px) {
      .footer__subscription {
        display: block;
        margin-bottom: 0.2rem;
        font-size: 2.8rem;
        color: #ffffff; } }
  .footer__input {
    width: 40vw;
    max-width: 30rem;
    padding: 0.8rem 1rem;
    font-size: 1.35rem;
    color: #292828;
    font-weight: bold;
    border: none; }
  .footer__submit {
    margin-left: .5rem;
    padding: 0.8rem 1rem;
    color: #ffffff;
    border: none;
    border-top: #ffffff solid 0.2rem;
    background-color: #dd8329;
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.3s; }
    .footer__submit:hover {
      background-color: #b47434;
      transform: scale(1.02); }
  .footer__redes {
    display: flex;
    align-items: center;
    justify-content: center; }
  .footer__svg {
    width: 5rem;
    margin: 0.5rem;
    fill: #ffffff; }
  .footer__h5 {
    text-align: center;
    font-size: 1.2rem;
    color: #ffffff; }

.frase {
  font-family: "fangsong"; }
  .frase__img {
    margin-top: 1rem;
    width: 100%;
    height: 15vh;
    object-fit: cover;
    opacity: 0.9; }
  .frase__h2 {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0;
    color: #363636;
    text-align: center;
    border-top: 0.1rem solid #363636;
    border-bottom: 0.1rem solid #363636;
    font-size: calc(2.5rem + 1vw); }
  .frase__span {
    color: #dd8329; }

@media screen and (min-width: 1040px) {
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 0 2rem; } }

.section__products {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  user-select: none; }
  @media screen and (min-width: 580px) {
    .section__products {
      height: auto;
      display: grid;
      grid-template-columns: repeat(2, 28rem);
      gap: 0 0.5rem;
      justify-content: center; } }
  @media screen and (min-width: 768px) {
    .section__products {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0.1rem 0.5rem;
      grid-template-rows: repeat(2, 1fr); } }
  .section__products--a, .section__products--2, .section__products--3, .section__products--4, .section__products--5 {
    margin: 0.5rem 0;
    background-size: cover;
    background-position: center center;
    border-radius: 15px; }
  .section__products--1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/productos-s-tacc.jpeg"); }
    @media screen and (min-width: 768px) {
      .section__products--1 {
        grid-area: 1/1 / 2/3; } }
  .section__products--2 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/condimentos.jpeg"); }
  .section__products--3 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/frutos-secos.jpg"); }
  .section__products--4 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/harinas.jpg"); }
  .section__products--5 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/vegano.jpg"); }
    @media screen and (min-width: 580px) {
      .section__products--5 {
        grid-area: 3/1 / 4/3; } }
    @media screen and (min-width: 768px) {
      .section__products--5 {
        grid-area: 2/2 / 4/5; } }
  .section__products .sections__products--h3 {
    width: 100vw;
    text-align: center;
    color: #ffffff;
    border: 0.5rem solid #ffffff;
    line-height: 15rem;
    font-size: clamp(2rem, 3rem, 6rem);
    border-radius: 15px; }
    .section__products .sections__products--h3:active {
      cursor: pointer;
      color: #dd8329;
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      transition: 0.5s;
      transform: scale(1.01); }
    @media screen and (min-width: 580px) {
      .section__products .sections__products--h3 {
        margin: 0 auto;
        width: auto;
        line-height: 15rem; } }
    @media screen and (min-width: 768px) {
      .section__products .sections__products--h3 {
        line-height: 22rem; }
        .section__products .sections__products--h3:hover {
          cursor: pointer;
          color: #dd8329;
          background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
          transition: 0.5s;
          transform: scale(1.01); } }

.destacados {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem 2vw;
  background-color: #292828;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .destacados__h3 {
    font-size: calc(2.5rem + 1vw);
    text-transform: uppercase;
    font-family: "Bebas Neue", cursive;
    color: #ffffff; }
  .destacados__a {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none; }
    .destacados__a:hover {
      transform: scale(1.05);
      color: #dd8329; }

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0; }
  @media screen and (min-width: 768px) {
    .container2 {
      flex-direction: row;
      justify-content: center; } }

.discount {
  border-left: solid 0.2rem #42423f1c;
  border-right: solid 0.2rem #42423f1c;
  margin-top: 1.1rem;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none; }
  .discount:nth-child(1) {
    border-right: none; }
  .discount:nth-child(2) {
    border-right: none; }
  .discount__h2 {
    font-family: "Bebas Neue", cursive;
    padding: .5rem 10rem;
    font-size: calc(2rem + 1vw);
    font-weight: bold;
    color: #ffffff;
    background-color: #fb5371;
    box-shadow: 0.5rem 0.5rem 0px #ffffff;
    border-radius: 5px;
    animation: scale 1.5s infinite; }
  .discount__box {
    max-width: 30rem;
    height: auto;
    margin: 1rem auto;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 5px 7px #7f837f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .discount__box:hover {
      transform: scale(1.02);
      transition: 0.3s; }
    .discount__box:hover svg {
      animation: carrito 1.5s infinite; }
  .discount__h3 {
    width: 100%;
    line-height: 4rem;
    font-size: 2rem;
    color: #ffffff;
    background-color: #292828; }
  .discount__img {
    margin: 0.5rem;
    height: 77%;
    width: 90%;
    border-top: 0.2rem solid #292828;
    box-shadow: 1px 5px 7px #7f837f; }
  .discount__price {
    padding: 0.5rem;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    width: 50%;
    border: #ffffff 0.15rem solid;
    border-radius: 5px;
    background-color: #292828;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center; }
    .discount__price p:first-child {
      text-decoration: line-through; }
  .discount__final {
    color: #f7b94c;
    font-size: 1.7rem;
    font-weight: bold; }
  .discount__a {
    margin: auto;
    width: 25%;
    margin-bottom: 0.5rem;
    padding: .8rem 0;
    background-color: #dd8329;
    border: 0.1rem solid #ffffff;
    border-radius: 0.5rem; }
    .discount__a:hover {
      background-color: #b47434; }
  .discount__svg {
    width: 3rem;
    height: 3rem;
    fill: #ffffff; }

.offer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap; }
  @media screen and (min-width: 1040px) {
    .offer {
      display: grid;
      grid-template-columns: 60rem 40rem;
      gap: 1rem 0;
      grid-template-rows: 55rem 45rem; } }
  .offer__p, .autoservice, .bag__p {
    margin: 0 auto;
    padding: .5rem 2rem;
    font-size: 2.1rem;
    font-weight: bold;
    color: #292828;
    width: 100%;
    border-top: 0.2rem solid #dd8329;
    background-image: linear-gradient(rgba(34, 33, 33, 0.671), rgba(0, 0, 0, 0.027)); }
    @media screen and (min-width: 580px) {
      .offer__p, .autoservice, .bag__p {
        height: auto;
        width: 60%; } }
    @media screen and (min-width: 1040px) {
      .offer__p, .autoservice, .bag__p {
        width: 100%;
        padding: 1rem 2rem;
        font-size: 2.5rem; } }
  .offer__span, .bag__span {
    font-size: 2.5rem;
    color: #dd8329; }
    @media screen and (min-width: 1040px) {
      .offer__span, .bag__span {
        font-size: 3rem; } }
  .offer__a {
    color: #b47434; }
  .offer__img {
    margin: 1rem auto;
    height: 100%;
    width: 96%;
    border-radius: 10px;
    border-top: #dd8329 solid 0.2rem;
    box-shadow: 1px 5px 7px #7f837f;
    object-fit: cover; }
    @media screen and (min-width: 580px) {
      .offer__img {
        margin: 0 auto;
        width: 35%;
        height: auto; } }
    @media screen and (min-width: 1040px) {
      .offer__img {
        width: 100%;
        max-width: 70rem; } }
    .offer__img:nth-child(2) {
      display: none; }
      @media screen and (min-width: 1040px) {
        .offer__img:nth-child(2) {
          display: block; } }
    .offer__img:nth-child(3) {
      display: none; }
      @media screen and (min-width: 1040px) {
        .offer__img:nth-child(3) {
          display: block; } }

.container__bag-autoservice {
  margin-bottom: 1.5rem; }
  @media screen and (min-width: 1040px) {
    .container__bag-autoservice {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0; } }

.autoservice__li {
  margin: 1rem;
  margin-left: 2rem;
  color: #dd8329; }

.autoservice__p {
  color: #363636;
  padding-left: 0.5rem;
  text-decoration: underline;
  text-decoration-color: #dd8329; }
  @media screen and (min-width: 768px) {
    .autoservice__p {
      font-size: 2.3rem; } }

.autoservice__video {
  margin: 0 auto;
  width: 100%; }

.bag {
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  @media screen and (min-width: 580px) {
    .bag__p {
      width: 55%; } }
  .bag__img {
    margin: 1rem auto;
    height: 20rem;
    width: 32rem;
    border-radius: 10px;
    border-top: #dd8329 solid 0.2rem;
    box-shadow: 1px 5px 7px #7f837f;
    object-fit: cover;
    object-position: 0 -10rem; }
    @media screen and (min-width: 580px) {
      .bag__img {
        object-fit: cover;
        object-position: center;
        margin: 0 .5rem;
        width: 40%;
        height: 100%; } }
    @media screen and (min-width: 1040px) {
      .bag__img {
        margin: 0;
        width: 40%;
        height: 45rem; } }

.consulta {
  padding: 1rem;
  font-size: 1.7rem;
  text-decoration: none;
  font-weight: bold;
  text-align: center; }
  .consulta__a {
    color: #dd8329;
    font-weight: bold;
    text-decoration: underline;
    padding: 0.5rem 0.2rem; }
    .consulta__a:hover {
      color: #ffffff;
      background-color: #b47434;
      border-radius: 5px;
      transition: 0.5s; }

.container__discount {
  margin-bottom: 2rem;
  width: 100%;
  display: grid;
  justify-content: space-evenly;
  align-items: center; }
  @media screen and (min-width: 580px) {
    .container__discount {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      gap: 1rem; } }
  @media screen and (min-width: 768px) {
    .container__discount {
      grid-template-columns: repeat(3, 1fr); } }
  @media screen and (min-width: 1040px) {
    .container__discount {
      grid-template-columns: repeat(4, 1fr); } }

.about, .mision {
  margin: 1rem auto;
  max-width: 90rem; }
  @media screen and (min-width: 580px) {
    .about, .mision {
      padding: .5rem;
      display: grid;
      grid-template-columns: 40rem auto;
      gap: 2rem; } }
  .about__p, .mision__p, .contact__ul {
    padding: 1rem;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    border-top: #dd8329 solid 3px;
    border-radius: 5px;
    background-image: linear-gradient(rgba(34, 33, 33, 0.671), rgba(0, 0, 0, 0.027)); }
  .about__span, .mision__span {
    font-size: 2.5rem;
    color: #dd8329; }
  .about__img, .mision__img {
    margin: 1rem auto;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border-top: #dd8329 solid 0.2rem;
    box-shadow: 1px 5px 7px #7f837f;
    object-fit: cover; }
    @media screen and (min-width: 580px) {
      .about__img, .mision__img {
        margin: auto; } }

.mision {
  margin-bottom: 2rem; }

.contact {
  margin: auto;
  width: 100%;
  max-width: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem; }
  @media screen and (min-width: 768px) {
    .contact {
      flex-direction: row;
      align-items: stretch; } }
  .contact__ul {
    width: 90%;
    text-align: left; }
    @media screen and (min-width: 768px) {
      .contact__ul {
        width: 60%; } }
  .contact__li {
    margin-left: 1rem;
    padding: 1rem .5rem;
    list-style: none;
    font-size: 1.7rem; }
    @media screen and (min-width: 768px) {
      .contact__li {
        padding: .7rem;
        font-size: 2rem; } }
  .contact__span {
    color: #ffffff; }
  .contact__map {
    padding: 0.5rem;
    width: 90%; }
    @media screen and (min-width: 768px) {
      .contact__map {
        width: 40%; } }

.form {
  color: #b47434;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 55rem;
  margin: auto;
  padding: 1.5rem;
  font-weight: bold;
  background-color: #222;
  border-top: #d76b00 solid 0.2rem; }
  .form__input {
    color: #ffffff;
    font-weight: bold;
    margin: 1rem;
    padding: 1.2rem;
    width: 100%;
    background-color: #292828;
    border: none;
    border-bottom: #b47434 solid 0.2rem; }
  .form__text {
    resize: none;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    height: 17rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.01);
    border: hidden;
    border-bottom: #b47434 solid 0.2rem; }
  .form__submit {
    width: 100%;
    margin: 1rem auto;
    padding: 1rem 1rem;
    color: #ffffff;
    border: none;
    border-top: #ffffff solid 0.1rem;
    background-color: #dd8329;
    font-weight: bold;
    font-size: 1.8rem; }
    .form__submit:hover {
      background-color: #b47434; }
  .form ::placeholder {
    color: #ffffff9d;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.1rem; }
