$clr-1: #d76b00;
$clr-2: #b47434;
$clr-3: #006a6a;
$clr-4: #2e8178;
$clr-5: #292828;
$clr-6: #ffffff;

$filter-1: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5));

$box-shadow: 1px 5px 7px #7f837f;