//  MAP
$clr: (
    'uno': #dd8329,
    'dos': #b47434,
    'tres': #363636,
    'cuatro': #2e8178,
    'cinco': #292828,
    'seis': #ffffff,
    'siete': #f7b94c,
);

$filter-1: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5));

$box-shadow: 1px 5px 7px #7f837f;