<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Informacion sobre nosotros, el sistema que ofrecemos, cómo trabajamos, la utilizacion de bolsas compostables.">
    <meta name="author" content="Matias Punjabi">
    <meta name="keywords" content="a granel, dietetica, sistema autoservicio, bolsas compostables, informacion">
    <title>Dietética A Granel: Información de lo que ofrecemos</title>
    <link rel="shortcut icon" href="img/favicon.webp">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/main.css">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="header">
            <a class="header__a " href="../index.html"><img class="header__logo"
                    src="../img/favicon.webp" alt="a granel dietetica"></a>
            <h1 class="header__h1"><a href="../index.html">Dietética A Granel</a>
            </h1>
        </div>
    </header>
    <nav class="navbar navbar-expand-sm navbar-light sticky-top nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <h2 class="text-center text-white px-3 py-2 m-0 nav__h2">Dietética A Granel</h1>
            </a>
            <button class="navbar-toggler btn-light bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-end">
                    <li class="nav-item"><a class="nav-link text-white fs-1 me-5 nav__a" href="../index.html">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link text-white fs-1 me-5 nav__a" href="ofertas.html">Ofertas</a></li>
                    <li class="nav-item"><a class="nav-link text-white fs-1 me-5 nav__a nav__underline" href="servicios.html">Servicios</a></li>
                    <li class="nav-item"><a class="nav-link text-white fs-1 me-5 nav__a" href="nosotros.html">Nosotros</a></li>
                    <li class="nav-item"><a class="nav-link text-white fs-1 me-5 nav__a" href="contacto.html">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        <section>
            <article>
                <div class="frase">
                    <h2 class="frase__h2"><span class="frase__span">¿</span>Qué ofrece <span class="frase__span">Dietética A Granel?</span> </h2>
                </div>
                <div class="offer">
                        <p class="offer__p"><span class="offer__span">Dietetica A Granel</span> es un concepto de compra responsable y sin plásticos, donde tú eliges la cantidad de producto que quieres comprar. Así aportamos nuestro granito de arena para que tu compra sea más responsable y evitar el desperdicio de alimentos.
                        Nuestro concepto de tienda slow shop se basa en una compra con los sentidos y dedicándole tiempo a la elección. La compra a granel de alimentos naturales permite minimizar el uso de envases de plástico. Así, la venta de alimentos saludables se realiza al peso, donde solo compras la cantidad que necesitas como se hacía antaño, en la época de nuestros abuelos.
                        Compra online nuestros productos o visita nuestra tienda en Ushuaia. <a class="offer__a" href="contacto.html">Mas información</a></p> 
                        <img class="offer__img" src="../img/imagen2.webp" alt="dietetica a granel">
                        <img class="offer__img" src="../img/imagen4.webp" alt="dietetica a granel">
                        <img class="offer__img" src="../img/imagen3.webp" alt="dietetica a granel">
                </div>
            </article>
            <article class="container__bag-autoservice" >
                <div>
                    <div class="frase">
                        <h2 class="frase__h2">Sistema <span class="frase__span">Autoservicio</span>:</h2>
                    </div>      
                    <div class="autoservice">
                        <ol>
                            <li class="autoservice__li"><p class="autoservice__p">Ponernos guantes por higiene y protocolo.</p></li>
                            <li class="autoservice__li"><p class="autoservice__p">Servirnos usando la pala correspondiente de cada producto en una de las bolsas compostables.</p></li>
                            <li class="autoservice__li"><p class="autoservice__p">Dirigirnos a la balanza y seguir las instrucciones para etiquetar .</p></li>
                        </ol>
                        <video class="autoservice__video" src="../img/Spot-A-Granel.mp4" alt="video a granel autoservicio" controls></video>
                    </div>
                </div>
                <div>
                    <div class="frase">                    
                        <h2 class="frase__h2">¡Usamos <span class="frase__span">bolsas compostables</span>!</h2>
                    </div>
                    <div class="bag ">
                        <p class=" bag__p"><span class="bag__span">Todas nuestras bolsas son compostables</span>, se convierten en tierra fértil en 90 días pudiendo variar este plazo levemente según las condiciones de humedad y compostaje. Parecen de plástico pero ¡NO LO SON! Son de bio-polimero a base de fécula de maíz y aceites vegetales, material 100% biodegradable.</p>
                        <img class="bag__img" src="../img/bolsas-compostables.webp" alt="bolsas compostables">
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section class="footer">
            <article>
                <form class="footer__form">
                    <p class="footer__subscription">Subscríbite para enterarte de las últimas novedades, ofertas,
                        productos nuevos.</p>
                    <div>
                        <input class="footer__input" type="email" name="email" placeholder="Escriba su email.">
                        <input class="footer__submit" type="submit" name="submit" value="Subscribirme">
                    </div>
                </form>
            </article>
            <article>
                <div class="footer__redes">
                    <a href="https://www.facebook.com/agranelRG" target="_blank"><svg class="footer__svg"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path
                                d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z" />
                        </svg>
                    </a>
                    <a href="https://www.instagram.com/agranelrg/" target="_blank"><svg class="footer__svg"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path
                                d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
                        </svg></a>
                    <a href="#"><svg class="footer__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path
                                d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z" />
                        </svg></a>
                </div>
                <h4 class="footer__h4"> © Copyright Punjabi. Todos los derechos reservados</h4>
            </article>
        </section>
    </footer>
</body>
</html>
