
footer section{   
        padding: 1rem ;
        background-color: map-get($map: $clr, $key: cinco);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: $box-shadow;
}

.footer{
    grid-area: footer;
    width: 100%;
    border-top: 0.2rem solid map-get($map: $clr, $key: seis);
    &__form{
        width: 100%;
        padding-bottom: 1.5rem;
        border-bottom: map-get($map: $clr, $key: seis) solid 0.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__subscription{
        display: none;
        @include md{
            &{
                display: block;
                margin-bottom: 0.2rem;
                font-size: 2.8rem;
                color: map-get($map: $clr, $key: seis);
            }
        }
    }
    &__input{
        width: 40vw;
        max-width: 30rem;
        padding-left: 1rem;
        font-size: 1.5rem;
        color: map-get($map: $clr, $key: cinco);
        font-weight: bold;
        border: none;
        @include lg{
            &{
                padding: 0.8rem 1rem;
            }
        }
    }
    &__submit{
        margin-left: .5rem;
        padding: 0.8rem 1rem;
        color: map-get($map: $clr, $key: seis);
        border: none;
        border-top: #ffffff solid 0.2rem;
        background-color: map-get($map: $clr, $key: uno);
        font-weight: bold;
        font-size: 1.5rem;
        transition: 0.3s;
        &:hover{
            background-color: map-get($map: $clr, $key: dos);
            transform: scale(1.02);
        }

    }
    &__redes{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__svg{
        width: 5rem;
        margin: 0.5rem;
        fill: map-get($map: $clr, $key: seis);
    }

    &__h5{
        text-align: center;
        font-size: 1.2rem;
        color: map-get($map: $clr, $key: seis);
    }

}