.nav{
    background-color: map-get($map: $clr, $key: cinco);
    font-family: $ff-1;

    &__h2{
        color: map-get($map: $clr, $key: seis);
        font-size: 3rem;
        font-family: $ff-1;
        font-weight: bold;
        margin: 0 1rem;
        border: 0.1rem solid map-get($map: $clr, $key: seis);
        border-radius: 15px;
        @include sm{
            display: none;
        }
    }

    &__a{
        &:hover{
            color: map-get($map: $clr, $key: seis);
            text-decoration: underline;
            text-decoration-color: map-get($map: $clr, $key: dos);
        }
    }
}
.navbar-toggler-icon{
    color: var(--color6);
}






// .nav{
//     font-family: $ff-1;
//     grid-area: nav;
//     position: sticky;
//     top: 0;
//     z-index: 2;

//     &__ul{        
//         font-size: calc(1.2rem + 1vw);
//         padding: 0.8rem;
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: space-evenly;
//         list-style: none;
//         background-color: map-get($map: $clr, $key: cinco);
//         box-shadow: $box-shadow;
    
//     }

//     &__a{
//         padding: 1rem;
//         text-decoration: none;
//         color: map-get($map: $clr, $key: uno);
//         font-weight: bold;
//         &:active{
//             text-decoration: underline;
//             color: map-get($map: $clr, $key: seis);
//             background-color: map-get($map: $clr, $key: dos);
//         }
//         @include lg{
//             &:hover{
//                 color: map-get($map: $clr, $key: seis);
//                 background-color: map-get($map: $clr, $key: dos);
//                 transition: 0.4s;
//             }
//         }
//     }
// }