.nav{
    background-color: map-get($map: $clr, $key: cinco);
    font-family: $ff-1;

    &__h2{
        color: map-get($map: $clr, $key: seis);
        font-size: 3rem;
        font-family: $ff-1;
        font-weight: bold;
        margin: 0 1rem;
        border: 0.1rem solid map-get($map: $clr, $key: seis);
        border-radius: 15px;
        @include sm{
            display: none;
        }
    }

    &__a{
        &:hover{
            text-decoration: underline;
            text-decoration-color: map-get($map: $clr, $key: dos);
        }
    }

    &__underline{
        text-decoration: underline;
        text-decoration-color: map-get($map: $clr, $key: dos);
    }

}
.navbar-toggler-icon{
    color: var(--color6);
}

