
.frase{
    font-family: $ff-2;
    &__img{
        margin-top: 1rem;
        width: 100%;    
        height: 15vh;
        object-fit: cover;  
        opacity: 0.9;
    }
    &__h2{
        width: 100%;
        margin: 1rem 0;
        padding: 1rem 0;
        color: map-get($map: $clr, $key: tres);
        text-align: center;
        border-top: 0.1rem solid map-get($map: $clr, $key: tres);
        border-bottom: 0.1rem solid map-get($map: $clr, $key: tres);
        font-size: calc(2.5rem + 1vw);
    }
    &__span{
        color: map-get($map: $clr, $key: uno);
    }
}

.container{
    @include lg{
        width: 100%;
        @include d-grid(grid,2.5fr 1fr, 0 2rem);
    }
}

.section__products{
    height: auto;
    @include d-flex(flex, column, space-between, center);
    user-select: none;

    @include sm{
        &{
            height: auto;
            @include d-grid(grid, repeat(2, 28rem), 0 .5rem);
            justify-content: center;
        }
    }
    @include md{
        &{
            @include d-grid(grid, repeat(4, 1fr), .1rem .5rem);
            grid-template-rows: repeat(2, 1fr);
        }
    }

        &--a{    
        margin: 0.5rem 0;
        background-size: cover;
        background-position: center center;
        border-radius: 15px;
        }
        &--1{
            background-image: $filter-1,
            url("../img/productos-s-tacc.webp");   
            @include md{
                &{
                    grid-area: 1/1 / 2/3;
                }
        }    
        }
        
        &--2{    
            @extend .section__products--a;
            background-image: $filter-1,
            url("../img/condimentos.webp");
        }

        &--3{   
            @extend .section__products--a; 
            background-image: $filter-1,
            url("../img/frutos-secos.webp");    
        }

        &--4{   
            @extend .section__products--a;             
            background-image: $filter-1,
            url("../img/harinas.webp");    
        }

        &--5{   
            @extend .section__products--a;              
            background-image: $filter-1,
            url("../img/vegano.webp");
    
            @include sm{
            &{
                grid-area: 3/1 / 4/3;
            }
            }
            @include md{
            &{
                grid-area: 2/2 / 4/5;
            }
            }
        }
        
        .sections__products--h3{
            width: 100vw;
            text-align: center;
            color: map-get($map: $clr, $key: seis);
            border: 0.5rem solid map-get($map: $clr, $key: seis);
            line-height: 15rem;
            font-size: clamp(2rem, 3rem, 6rem);    
            border-radius: 15px;
            &:active{
                cursor: pointer;
                color: map-get($map: $clr, $key: uno);
                background-image: linear-gradient(0deg, 
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
                );
                transition: 0.5s;
                transform: scale(1.01);
            }
            @include sm{
                &{
                    margin: 0 auto;
                    width: auto;
                    line-height: 15rem;
                }
            }
            @include md{
                &{
                    line-height: 22rem;
                    &:hover{
                        color: map-get($map: $clr, $key: uno);
                        background-image: linear-gradient(0deg, 
                        rgba(0,0,0,0.5),
                        rgba(0,0,0,0.5)
                        );
                        transition: 0.5s;
                        transform: scale(1.01);
                    }
                }
            }
        }
} 

.destacados{
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 2vw;
    background-color: map-get($map: $clr, $key: cinco);
    @include d-flex(flex, row, space-between, center);
    &__h3{
        font-size: calc(2.5rem + 1vw);
        text-transform: uppercase;
        font-family: $ff-3;
        color: map-get($map: $clr, $key: seis);
    }

    &__a{
        font-size: 1.8rem;
        font-weight: bold;
        color: map-get($map: $clr, $key: seis);
        text-decoration: none;
        &:hover{
            transform: scale(1.05);
            color: map-get($map: $clr, $key: uno);
        }
    }
}

.container2{
    @include d-flex(flex, column, center, center);
    margin: 2rem 0;
    @include md{
        flex-direction: row;
        justify-content: center;
    }
}

.discount{
    border-left: solid 0.2rem #42423f1c;
    border-right: solid 0.2rem #42423f1c;
    margin-top: 1.1rem;
    height: auto;
    width: 100%;
    @include d-flex(flex, column, center, center);
    user-select: none;
    &:nth-child(1){
        border-right: none;
    }
    &:nth-child(2){
        border-right: none;
    }
    &__h2{
        font-family: $ff-3;
        padding: .5rem 10rem;
        font-size: calc(2rem + 1vw);
        font-weight: bold;
        color: map-get($map: $clr, $key: seis);
        background-color: #fb5371;
        box-shadow: 0.5rem 0.5rem 0px map-get($map: $clr, $key: seis);
        border-radius: 5px;
        animation: scale 1.5s infinite;

    }
    &__box{
        max-width: 30rem;
        height: auto;
        margin: 1rem auto;
        font-size: 1.2rem;
        text-align: center;
        border-radius: 5px;
        box-shadow: $box-shadow;
        @include d-flex(flex, row, center, center);
        flex-wrap: wrap;
        &:hover{
            transform: scale(1.02);
            transition: 0.3s;
        }
        &:hover svg{
            animation: carrito 1.5s infinite;
        }
    }
    &__h3{
        width: 100%;
        line-height: 4rem;
        font-size: 2rem;
        color: map-get($map: $clr, $key: seis);
        background-color: map-get($map: $clr, $key: cinco);
    }
    &__img{
        margin: 0.5rem;
        height: 77%;
        width: 90%;
        border-top: 0.2rem solid map-get($map: $clr, $key: cinco);
        box-shadow: $box-shadow;
    }
    &__price{
        margin-bottom: 0;
        padding: 0.5rem;
        margin: 0 auto;
        margin-bottom: 0.5rem;
        width:50%;
        border: map-get($map: $clr, $key: seis) 0.15rem solid;
        border-radius:5px;
        background-color: map-get($map: $clr, $key: cinco);
        color: map-get($map: $clr, $key: seis);
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        & p:first-child{
            text-decoration: line-through;
        }
    }
    &__final{
        color: map-get($map: $clr, $key: siete);
        font-size: 1.7rem;
        font-weight: bold;
    }
    &__buy{
        margin: auto;
        width: 25%;
        margin-bottom: 0.5rem;
        padding: .8rem 0;
        background-color: map-get($map: $clr, $key: uno);
        border: 0.1rem solid  map-get($map: $clr, $key: seis);
        border-radius: 0.5rem;
        &:hover{
            background-color: map-get($map: $clr, $key: dos);
        }
    }
    &__svg{
        width: 3rem;
        height: 3rem;
        fill: map-get($map: $clr, $key: seis);
    }
}

