.about{
    margin: 1rem auto;
    max-width: 90rem;
    @include sm{
        padding: .5rem;
        @include d-grid(grid, 35rem auto, 2rem);
    }
    @include md{
        grid-template-columns: 40rem auto;
    }
    &__p{
        font-weight: bold;
        font-size: calc(1.2rem + .5vw);
        text-align: center;
        border-top:map-get($map: $clr, $key: uno) solid 3px;
        border-radius: 5px;
        background-image: linear-gradient(rgba(34, 33, 33, 0.671),rgba(0, 0, 0, 0.027));

    }
    &__img{
        margin: 1rem auto;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        border-top: map-get($map: $clr, $key: uno) solid 0.2rem;
        box-shadow: $box-shadow;
        object-fit: cover;
        @include sm{
            margin: auto;
        }

    }
}

.mision{
    margin-bottom: 2rem; 
    @extend .about;
    &__p{
        @extend .about__p;
    }
    &__img{
        @extend .about__img;
    }
}